/* Universals Section */
 .text-center{
     text-align: center;
 }
 
 body {
     box-sizing: border-box;
 }


/*Header section beings here*/
header{
    background-color:#ffff99;
    position: relative;
}

header h1 {
    float:left;
    margin:0px;
}

header img{
    height:50px;
}

nav>ul {
    list-style-type: none;
    
}
nav{
    float: right;
    position: relative;
    top: 0px;
   
}
nav>ul>li {
    display: inline;
    border: 2px solid #ff99cc;
    margin: 0px 10px;
    padding: 12px;
    border-radius: 15px 15px 0px 0px;
}

nav>ul>li>a {
     color:#000; 
     text-decoration: none;
}

nav>ul>li>a:hover {
    color:#fff;
    background-color:#000;
}

nav>ul>li:hover {
    cursor: pointer;
}

/* HERO SECTION BEGINS HERE*/



.hero {
    background-image: url('../img/summer.jpg');
    background-size: cover;
    background-position: center;
    height:300px;
    padding-top: 175px;
    
}

.hero>h1 {
    margin: 0px;
    color: #ff99CC;
    text-align: center;
}

/*SIDEBAR SECTION*/
aside {
    background-color:#ff99CC;
    border: 2px solid #fff; 
    width: 30%;
    height: 400px;
    float: left;
    box-sizing: border-box;
}
aside ul {
    padding-left: 0px;
}
aside ul li {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

aside ul li {
    text-align: center;
    padding: 30px 0px;
}

aside ul li:hover {
    background-color: #fff;
    border: 1px dotted;
}

aside ul li:hover a {
    color: #000066;
    font-weight: 700px;
    
}

aside ul li a {
    text-decoration: none;
    color: #fff;
    
    
}

/* MAIN SELECTION */

main {
    float: right;
    width: 70%;
    padding: 0px 15px;
    box-sizing: border-box; 

}

 /* FOOTER SELECTION*/
 
footer {
     height: 120px;
     background-color: #cc99ff;
     clear: both;
 }
   
 .social-media {
     padding-top: 35px;
     text-align: center;
 } 
 
 .social-media .fa {
     color: #fff;
     font-size: 2em;
 }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    








